body {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    color: antiquewhite;
    font-size-adjust: 20px;
    cursor: url(SmoothArrow.cur) 16 16, auto;
    background-image: url("background-tile.png");
    background-repeat: repeat;
    border-left: 10px dotted;
    border-right: 10px dotted;
    margin: 100px;
}

.garf {margin-left: 249px;}

hr, h3, ul, img, .normal, p, table {
    text-align: left;
    margin-right: 150px;
    margin-left: 150px;}

.right {text-align: right;
    margin-right: 100px;}

h1, h2, .center {text-align: center;}

.pos {position: relative; top: 25px;}
.pos1 {position: relative; left: 353px;}

.art {position: relative; left: 210px;
    width: 400px;}

td {border: 2px ridge;}